.page-bg-gradient {
  background-repeat: no-repeat;
  background-position: 50% -40px;
  background-size: 1000px auto;

  @media screen and (min-width: 768px) {
    background-size: 1500px auto;
    background-position: 50% -40px;
  }

  @media screen and (min-width: 1536px) {
    background-size: contain;
    background-position: 50% -100px;
  }

  @media screen and (min-width: 1920px) {
    background-position: 50% -200px;
  }

  @media screen and (min-width: 2200px) {
    background-position: 50% -400px;
  }
}

.page-bg-gradient-community {
  background-image: url(/images/gradients/community.svg);
}

.page-bg-gradient-concepts {
  background-image: url(/images/gradients/concepts.svg);
}

.page-bg-gradient-getting-started {
  background-image: url(/images/gradients/getting-started.svg);
}

.page-bg-gradient-home {
  background-image: url(/images/gradients/home.svg);
}

.page-bg-gradient-network {
  background-image: url(/images/gradients/network.svg);
}

.page-bg-gradient-tools {
  background-image: url(/images/gradients/tools.svg);
}
