.tool-gradient-cli {
  background: linear-gradient(
    226.27deg,
    rgba(255, 255, 255, 0.0001) -36.23%,
    #00ff12 -20.1%,
    #08c466 89.47%
  );
}

.tool-gradient-fcl {
  background: linear-gradient(
    226.27deg,
    rgba(255, 255, 255, 0.0001) -36.23%,
    #2677b8 -20.1%,
    #00ef8b 89.47%
  );
}

.tool-gradient-emulator {
  background: linear-gradient(
    226.27deg,
    rgba(255, 255, 255, 0.0001) -36.23%,
    #ff92fe 6.68%,
    #ff0072 89.47%
  );
}

.tool-gradient-vscode {
  background: linear-gradient(
    226.27deg,
    rgba(255, 255, 255, 0.0001) -36.23%,
    #2677b8 -20.1%,
    #3baef3 89.47%
  );
}

.tool-gradient-testing {
  background: linear-gradient(
    226.27deg,
    rgba(77, 21, 252, 0.0001) -36.23%,
    #b834c8 -19.53%,
    #5221d6 87.57%
  );
}

.tool-gradient-flow-port {
  background: linear-gradient(180deg, #b4ffdf 0%, #00227e 100%);
}

.tool-gradient-cadence {
  background: linear-gradient(
    226.27deg,
    rgba(255, 255, 255, 0.0001) -36.23%,
    #00fafa -20.1%,
    #7f00ff 89.47%
  );
}

.tool-gradient-mobile {
  background: linear-gradient(226.27deg, rgb(0, 255, 148), rgb(0, 51, 14));
}
.internal-landing-card-green-bg {
  background: linear-gradient(
    85.22deg,
    #00ef8b -26.3%,
    rgba(0, 239, 139, 0.566845) 24.91%,
    rgba(0, 239, 139, 0.566845) 24.92%,
    rgba(193, 240, 220, 0) 91.91%
  );
}
