@font-face {
  font-family: "Acumin Pro";
  src: local("Acumin Pro"),
    url(/fonts/acumin-pro/AcuminPro-Regular.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: local("Acumin Pro"),
    url(/fonts/acumin-pro/AcuminPro-Italic.otf) format("opentype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: local("Acumin Pro"),
    url(/fonts/acumin-pro/AcuminPro-Medium.otf) format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: local("Acumin Pro"),
    url(/fonts/acumin-pro/AcuminPro-MediumItalic.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: local("Acumin Pro"),
    url(/fonts/acumin-pro/AcuminPro-SemiBold.otf) format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: local("Acumin Pro"),
    url(/fonts/acumin-pro/AcuminPro-SemiBoldItalic.otf) format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: local("Acumin Pro"),
    url(/fonts/acumin-pro/AcuminPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-display: swap;
}

/* Inter Font Family - Preloaded via plugin, no need to load here */

@font-face {
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono"),
    url(/fonts/ibm-plex/IBMPlexMono-Regular.ttf) format("truetype");
  font-display: swap;
}

.text-h1 {
  @apply font-display text-5xl font-bold leading-[3.5rem] text-gray-900 dark:text-blue-50 md:text-7xl md:leading-[5rem];
}

.text-h2 {
  @apply font-display text-2xl font-bold leading-[2.25rem] text-gray-900 dark:text-blue-50 md:text-4xl md:leading-[2.375rem];
}

.text-h3 {
  @apply font-display text-2xl font-extrabold leading-[2.25rem] text-gray-900 dark:text-blue-50 md:text-4xl md:leading-[2.375rem];
}

.text-h4 {
  @apply font-display text-xl font-bold leading-[2rem] text-gray-900 dark:text-blue-50 md:text-2xl md:leading-[2.5rem];
}

.text-h5 {
  @apply text-xl font-bold leading-[2rem] text-gray-900 dark:text-blue-50 md:text-2xl md:font-semibold md:leading-[2rem];
}

.text-h6 {
  @apply text-xl font-semibold leading-[2rem];
}
