@import "./backgrounds.css";
@import "./fonts.css";
@import "./colors.css";
@import "./mdx.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  @apply flex h-full min-h-full flex-col overflow-hidden bg-white text-black dark:bg-black dark:text-white;
}

/* Add .divided-item-hover to .divide-y children to hide borders on hover */
.divided-item-hover:hover,
.divided-item-hover:hover + .divided-item-hover {
  @apply !border-transparent;
}

.divided-item-selected,
.divided-item-selected + .divided-item-selectable {
  @apply !border-transparent;
}

.rotate-x-180 {
  transform: rotateX(180deg);
}

/* Algolia autocomplete search highlight */
.ais-Snippet-highlighted {
  @apply bg-transparent font-bold text-primary-blue dark:text-blue-dark;
}

.scroll-offset {
  scroll-margin-top: 100px;
}
