.mdx-content {
  p + h1 {
    margin-top: 4rem !important;
  }

  & table {
    @apply block overflow-x-auto whitespace-nowrap rounded-md border-0;
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
  }

  & th {
    @apply min-w-[9rem] border border-l-0 border-primary-gray-100 px-4 pt-3 pb-2 leading-6 first:rounded-tl-md first:border-l last:rounded-tr-md dark:border-primary-gray-400;
  }

  & td {
    @apply border-b border-r border-primary-gray-100 px-4 py-1.5 text-sm leading-6 text-primary-gray-400 first:border-l dark:border-primary-gray-400 dark:text-primary-gray-50;
  }

  & tr {
    @apply even:bg-primary-gray-50 dark:even:bg-neutral-900;
  }

  & tr:last-child td {
    @apply first:rounded-bl-md last:rounded-br-md;
  }

  & ul {
    @apply pl-4;
  }

  & ul li {
    @apply relative;
  }

  & ol {
    @apply list-decimal pl-4;
  }

  & p {
    @apply mb-4;
  }

  & blockquote {
    @apply border-l-4 border-l-gray-400 px-6 py-2 dark:border-l-gray-700;
  }

  & blockquote p {
    @apply m-0;
  }

  & ul.contains-task-list {
    @apply pl-0;
  }

  & ul.contains-task-list li::before {
    @apply invisible;
  }

  & ul.contains-task-list {
    @apply mb-3;
  }

  & .task-list-item {
    @apply relative mt-3 pl-8;
  }

  & section.footnotes {
    @apply mt-4 border-t border-primary-gray-100 pt-4 text-sm text-primary-gray-300 dark:border-primary-gray-300 dark:text-primary-gray-100;

    & h2 {
      @apply hidden;
    }

    & p {
      @apply mb-1 flex items-center;
    }

    & .data-footnote-backref {
      @apply hidden;
    }

    & a {
      @apply relative -top-[3px] inline-block h-6 w-6 bg-[url('/images/content/reference.svg')] bg-center bg-no-repeat opacity-100 hover:opacity-75 dark:invert;
      background-size: 16px 16px;
    }
  }

  & sup a {
    @apply ml-[1px] text-primary-blue dark:text-blue-dark;
  }
}

body.dark .mdx-content {
  & pre {
    @apply !text-white;
  }

  & pre div {
    @apply !text-white;
  }
}
